/* css comment */

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	animation: spin 3s linear infinite;
}

@keyframes spin {
	0% {
		transform:rotate(0deg);
		}
	100% {
		transform:rotate(360deg);
		}
}

body {
	background-color:orange;
}

li: first-letter {
	font-size: 200%;
}

li:nth-child(even) {
	blackground: liear-gradient(90deg, white,white 2em, #cccccc);
}

li:nth-child(odd) {
	blackground: linear-gradient(90deg, white, white 2em, #aaaaaa);
}

ul {
	list-style-type: decimal;
	counter-reset: level1;
}

ul li:before {
	content: counter(level1) " ";
	counter-increment: level1;
	border: 0.25em solid black;
	border-radius: 50%;
	padding: 0.5em;
	background-color: #AAAAFF'
}

ul li {
	font-size: 200%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	

}


